@import url("//hello.myfonts.net/count/287c21");

  
@font-face {font-family: 'AzbukaStd-Light';src: url('webfonts/287C21_0_0.eot');src: url('webfonts/287C21_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/287C21_0_0.woff') format('woff'),url('webfonts/287C21_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AzbukaStd-Medium';src: url('webfonts/287C21_1_0.eot');src: url('webfonts/287C21_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/287C21_1_0.woff') format('woff'),url('webfonts/287C21_1_0.ttf') format('truetype');}
 