/*Body*/

body{
  color: #333333;
  background-color: #ededed;
  font-family: 'Source Sans Pro', sans-serif;
}

p{
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

p a{
  color: #333;
  text-decoration: underline;
}

p a:hover{
  color: #ff827c;
}

h4{
  color: #ff827c;
  font-weight: 700;
  font-size: 16px;
}

.container{
  margin: 75px auto;
}

a:hover{
  color: #969696;
}

h2{
  font-weight: 400;
  font-size: 1.5em;
}

h2 a{
  color: #ff827c;
  text-decoration: underline;
  display: inline-block;
  letter-spacing: 0.05em;
}

.divider--circle {
  border-radius: 50%;
	width: 6px;
	height: 6px;
  background-color: #ff827c;
  margin: 20px auto;
  position: relative;
}

.divider--circle:before {
  content: "";
  display: block;
  position: absolute;
  margin-left: -30px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff827c;
}

.divider--circle:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: 30px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff827c;
}

.social-link{
  color: #333;
  background-color: #ddd;
  font-size: 14px;
  text-decoration: none;
  line-height:2.5;
  padding: 8px 15px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-link--twitter:hover{
  background-color: #41b4d5;
}

.social-link--github:hover{
  background-color: #666;
}

.social-link--linkedin:hover{
  background-color: #007bb4;
}

.social-link--email:hover{
  background-color: #ff807c;
}

.social-link--blog:hover{
  background-color: #efc702;
}

.social-link:hover{
  text-decoration: none;
  color: #fff;
}

ul{
  padding: 0;
  margin-top: 5px;
}
li{
  list-style: none;
  display: block;
  margin-right: 10px;
  /*font-size: 16px;*/
}

.project-list-link{
  font-weight: 700;
  color: #333;
}

/*//navigation//*/
.top-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  overflow: hidden;
  background: #fff;
  border: 10px solid #ededed;
  opacity: 0.95;
}

.top-bar__nav{
  display: block;
  float: right;
  line-height: 50px;
  margin: 0 auto;
}

.top-bar__nav li{
  list-style: none;
  display: inline-block;
}

.top-bar__name{
  color: #333;
  line-height: 50px;
  font-weight: 700;
  margin: 0 0 0 15px;
}

.top-bar__title{
  color: #666;
  display: inline-block;
  line-height: 50px;
  font-weight: 400;
  margin: 0 10px;
}

.top-bar__name:hover, .top-bar__nav a:hover{
  color: #ff827c;
  text-decoration: none;
}

.top-bar__nav a{
  display: block;
  color: #bbb;
  font-size: 14px;
  line-height: 20px;
  padding: 0 5px;
}

.top-bar__expand{
  display: none;
  padding: 10px 0;
  float: right;
}

.icon--hamburger{
  border-radius: 2px;
  display: block;
  width: 35px;
  position: relative;
  margin-right: 10px;
}

.line--horizontal{
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 2px;
  margin: 4px 0;
  background: #fc6462;
}
.line--horizontal:first-child{
    background: #ff827c;
}
.line--horizontal:last-child{
    background: #f94848;
}

.headline{
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

.work{
  margin: 15px 0 40px;
}

.number {
  color: #aaa;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
  font-family: Garamond,serif;
  font-style: italic;
}
.project{
  margin-top: 60px;
}

.project:hover{
  color: #ff827c;
}
a .project__name{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.project__name {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.project__teaser{
  color: #333;
  font-size: 24px;
  font-weight: 700;
  text-align:center;
  margin: 0;
  line-height: 1.2em;
}
a .project__teaser{
  color: #333;
  font-size: 24px;
  font-weight: 700;
  text-align:center;
  margin: 0;
}

/*a.project:hover {
  color: #ff827c;
  text-decoration: none;
}*/

.btn{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  line-height:2.5;
  padding: 8px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover{
  text-decoration: none;
  color: #fff;
}

.btn--mcf{
  background-color: #cf454a;
}

.btn--mcf:hover{
  background-color: #af3a43;
}

.btn--sundance{
  background-color: #005397;
}

.btn--sundance:hover{
  background-color: #00416d;
}

.btn--eta{
  background-color: #54bab2;
}

.btn--eta:hover{
  background-color: #409189;
}

.btn--logo{
  background-color: #808080;
}

.btn--logo:hover{
  background-color: #666;
}

.btn--chomp{
  background-color: #333;
}

.btn--chomp:hover{
  background-color: #555;
}

.btn--ssa{
  background-color: #58b4cf;
}

.btn--ssa:hover{
  background-color: #4994a5;
}

.project__divider {
  margin-top: 5px;
  padding-right: 30px;
  border-right: 1px solid #ccc;
}

.project__description{
  margin-top: 5px;
}
.project__headline--eta {
  font-size: 16px;
  font-weight: bold;
  color: #54bab2;
  margin-bottom: 0;
}

.project-details{
  margin-top: 40px;
}

@media only screen and (max-width: 767px){
  .top-bar{
    height: 70px;
  }

  .top-bar--expanded {
    height: 100%;
  }

  .top-bar__expand {
    display: block;
  }

  .top-bar__nav {
    float: none;
    clear: both;
    width: 100%;
  }
  .top-bar__nav  li{
    display: block;
    text-align: right;
  }
  .top-bar__nav  li a {
    font-size: 14px;
    line-height: 45px;
  }
}

/*// Highlight*/
::selection {
  background: #ccc; /* Safari */
  }
::-moz-selection {
  background: #ccc; /* Firefox */
}

@media only screen and (max-width: 767px){
  .container{
    margin-top: 50px;
  }
  h1{
    font-size: 2em;
    line-height: 1em;
  }
  h2{
    font-size: 1.25em;
  }

  .social-link{
    display: block;
    widht: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .project {
    margin-top: 15px;
  }
  .top-bar__title, .top-bar__name{
    font-size: 14px;
  }

  a .project__name{
    font-size: 14px;
  }

  a .project__teaser{
    font-size: 18px;
  }
  .work {
    margin: 25px 0 0px;
  }

  .project-details{
    margin-top: 10px;
  }

  .project__divider {
    margin-top: 0;
    padding-right: auto;
    border-right: 1px solid transparent;
  }

  .btn{
    display: block;
  }
}
