/*Body*/

body{
  color: #333333;
  background-color: #F6F6F6;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}


.container{
  margin: 75px auto;
}

.overview{
  background-color: #58EDB4;
  padding: 20px;
}


@media only screen and (max-width: 767px){

}

/*// Highlight*/
::selection {
  background: #ccc; /* Safari */
  }
::-moz-selection {
  background: #ccc; /* Firefox */
}
