body{
  color: #403E51;
  background-color: #F5F5F5;
  font-family: 'EB Garamond', serif;
}

h1, p.front-page{
  font-weight: 100;
  font-size: 32px;
  margin: 0;
  margin-bottom: 30px;
  max-width: 750px;
}


h2{
  font-weight: 200;
  font-size: 22px;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
}

h4{
  font-weight: normal;
  font-size: 1.25em;
  margin: 0;
  color: #999;
}

p{
  max-width: 750px;


}

a {
  text-decoration: none;
  color: blue;
}


a:hover span, a:hover {
  color: #14DC8A;
}

a span {
  color: #403E51;
  transition: all 0.25s;
}

dt {
  font-weight: bold;
  font-size: 1.25em;
}

dd {
  margin-left: 0;
  margin-bottom: 20px;
  font-size: 1.25em;
}

ol {
  font-size: 1.25em;
}

.contain{
  margin: 65px
}

.heading-image{
  width: 60px;
  margin-bottom: 20px;
}

::selection {
  background: #92E8C3;
}
::-moz-selection {
  background: #92E8C3;
}

hr {
  border-top: 1px solid #ddd;
}

.writing h3{
  font-size: 1.25em;
  color: #4CC090;
  font-weight: normal;
  margin-bottom: 0;
  max-width: 550px;
}

.writing h1{
  margin-bottom: 0;
}


.writing p{
  margin: 0 0 40px;
  line-height: 1.8em;
  max-width: 600px;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Helvetica Neue', sans-serif
}

/* .writing a{
  color: #4CC090;
} */


#Left_Eye{
  transform-origin: 10% 50% 0;
  -webkit-transform-origin: 10% 50% 0;
  animation: blink 4s linear infinite;
  -webkit-animation: blink 4s linear infinite;
}

#Right_Eye{
  transform-origin: 10% 50% 0;
  -webkit-transform-origin: 10% 50% 0;
  animation: blink 4s linear infinite;
  -webkit-animation: blink 4s linear infinite;
}

@keyframes blink {
  0% {
    transform: scaleY(1); }

  46% {
    transform: scaleY(1); }

  50% {
    transform: translateY(145px) scaleY(0.1); }

  54% {
    transform: scaleY(1); }

  100% {
    transform: scaleY(1); }
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scaleY(1); }

  46% {
    -webkit-transform: scaleY(1); }

  50% {
    -webkit-transform: scaleY(0.1); }

  54% {
    -webkit-transform: scaleY(1); }

  100% {
    -webkit-transform: scaleY(1); }
}

@media only screen and (max-width: 767px){
  .contain{
    margin: 20px;
  }

/*   h1, h2{
  font-size: 2em;
} */

  .writing h3{
    font-size: 1.5em;
  }

  p{
    font-size: 1.25em;
  }

  .heading-image{
    margin-bottom: 10px;
    width: 40px;
  }
}
