/** Add/remove floats **/
.float--right    { float: right; }
.float--left     { float: left; }
.float--none     { float: none; }


/** Font styles **/
.text--lowercase   { text-transform: lowercase; }
.text--uppercase   { text-transform: uppercase; }
.text--center      { text-align: center;}


/** Spacing **/
.full-width   { width: 100%; }


/** Add/remove margins **/
.push           { margin:       $line-height-computed; }
.push--top      { margin-top:   $line-height-computed; }
.push--right    { margin-right: $line-height-computed; }
.push--bottom   { margin-bottom:$line-height-computed; }
.push--left     { margin-left:  $line-height-computed; }
.push--ends     { margin-top:   $line-height-computed; margin-bottom:$line-height-computed; }
.push--sides    { margin-right: $line-height-computed; margin-left:  $line-height-computed; }

.push-half          { margin:       $line-height-computed / 2; }
.push-half--top     { margin-top:   $line-height-computed / 2; }
.push-half--right   { margin-right: $line-height-computed / 2; }
.push-half--bottom  { margin-bottom:$line-height-computed / 2; }
.push-half--left    { margin-left:  $line-height-computed / 2; }
.push-half--ends    { margin-top:   $line-height-computed / 2; margin-bottom:$line-height-computed / 2; }
.push-half--sides   { margin-right: $line-height-computed / 2; margin-left:  $line-height-computed / 2; }

.flush          { margin:       0; }
.flush--top     { margin-top:   0; }
.flush--right   { margin-right: 0; }
.flush--bottom  { margin-bottom:0; }
.flush--left    { margin-left:  0; }
.flush--ends    { margin-top:   0; margin-bottom:0; }
.flush--sides   { margin-right: 0; margin-left:  0; }


/** Add/remove paddings **/
.soft           { padding:       20px; }
.soft--top      { padding-top:   20px; }
.soft--right    { padding-right: 20px; }
.soft--bottom   { padding-bottom:20px; }
.soft--left     { padding-left:  20px; }
.soft--ends     { padding-top:   20px; padding-bottom:20px; }
.soft--sides    { padding-right: 20px; padding-left:  20px; }

.soft-half           { padding:       10px; }
.soft-half--top      { padding-top:   10px; }
.soft-half--right    { padding-right: 10px; }
.soft-half--bottom   { padding-bottom:10px; }
.soft-half--left     { padding-left:  10px; }
.soft-half--ends     { padding-top:   10px; padding-bottom:10px; }
.soft-half--sides    { padding-right: 10px; padding-left:  10px; }

.hard           { padding:       0; }
.hard--top      { padding-top:   0; }
.hard--right    { padding-right: 0; }
.hard--bottom   { padding-bottom:0; }
.hard--left     { padding-left:  0; }
.hard--ends     { padding-top:   0; padding-bottom:0; }
.hard--sides    { padding-right: 0; padding-left:  0; }


// Misc helpers

.block {
  display: block;
}

.center {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

// Empty href attributes for UI Bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
